.mdl-button {
    margin: 10px;
  }


  .mdl-spinner {
    margin: auto;
}

.main-image {

  margin: auto;
  display: block;
}

.shared-moment-data-table.mdl-data-table {
  display: block;
  margin:  auto;
  color: aliceblue;
  text-align:center;
}



.mdl-data-table {
  display: block;
  margin:  auto;
  text-align: center;
  background-color: lightpink;
}


@media (min-width: 300px) {
  .mdl-data-table {
      width: 60%;
  }
}

@media (min-width: 600px) {
  .mdl-data-table {
      width: 28%;
  }
}